# Ignorar Backups locais e zips
*.zip
*.bkp
*.bkp_*
js/*.bkp*

# Ignorar pastas do Apache Cordova (caso geradas no futuro)
platforms/
plugins/
node_modules/
.cordova/

# Arquivos do sistema
.DS_Store
Thumbs.db
